.red{
    background-color: red;
}

.green{
    background-color: green;
}

.brown{
    background-color: brown; 
}

.yellow{
    background-color: yellow;
}

.yellowgreen{
    background-color: yellowgreen;
}

.blue{
    background-color: blue;
}

.aqua{
    background-color: aqua;
}

.lightblue{
    background-color: lightblue;
}

.bisque{
    background-color: bisque;
}