*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    display: block;
}
#side_bar{
    display: grid;
    grid-template-columns: repeat (3 ,1fr);
    grid-template-rows: repeat (8 ,1fr);
    grid-gap: 5px;
    border: 5px solid grey;
    /* display */
    float: left;
    height: 100vh;
    width: 20%;
    background-color: antiquewhite;
   
    
}

button{
    grid-column: 1/4;
    display: inline-block;
    background-color: lightgrey;
    text-align: center;
    margin: 5px;
    padding: 4px;
    font-size: 20px;
    border-radius: 5px;
}

.side_block  {
    display: block;
    margin: 3px 9px; 
    border: 1px black solid;
    
}

/* div{
    margin: 4px; 
    border: 1px black solid;
} */



.red{
    background-color: red;
}

.orangered{
    background-color: orangered;
}

.orange{
    background-color: orange;
}


.yellow{
    background-color: yellow;
}

.yellowgreen{
    background-color: yellowgreen;
}

.lightgreen{
    background-color: lightgreen;
}

.green{
    background-color: green;
}

.turquoise{
    background-color: turquoise;
}

.cyan{
    background-color: cyan;
}

.lightskyblue{
    background-color: lightblue;
}

.dodgerblue{
    background-color: dodgerblue;
}

.blue{
    background-color: blue;
}

.darkblue{
    background-color: darkblue;
}

.indigo{
    background-color:indigo;
}

.maroon{
    background-color:maroon;
}


.pink{
    background-color: pink;
}

.aqua{
    background-color: aqua;
}

.lightgrey{
    background-color:lightgrey
}

.grey{
    background-color: grey;
}

.black{
    background-color: black;
    border: 1px black;
}

.white{
    background-color:white;
}



main{
    display: grid;
    grid-template-columns: repeat(55,1fr);
    height: 100vh;
}

main div{
 background-color: white;
 margin: 1px; 
 border: 1px black solid;
}