*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#container{
    height: 100vh;
    border: 2px green solid;
    display: flex;
    align-items: center    
}

#converter{
    border: 2px black solid;
    text-align: center;
    /* align-items: center; */
    margin: auto;
    padding: 3em 7em;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    
}

p{
    font-size: larger;
    font: bold;
    margin-top: 15px;
}

h2{
    margin: 1em 0;
}

select{
    height: 3em ;
}

#input{
    height: 2em;
}

#btn{
    height: 2em;
    width: 10em;
    margin: 1em 0 0 5.5em;
}