/* .navbar{
    display: flex;
    
    align-items: center;
    justify-content: space-around;
} */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#search{
    width: 45%;
}




#section {
    display: flex;

    justify-content: space-around;

    
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    
    


}
.robo_block{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    gap: 10px;
    background: url(./img/card-pattern.png);
    background-color: blue;
    /* height: 45%;
    width: 22%; */
    border: 2px green solid ;
    border-radius: 5%;
    /* margin-top : 10vh; */
    margin:20px  ;
    padding: 20px;
   
}


.imgClass{
    border-radius: 200%;
    scale: 0.6;
    background-color: grey;
    /* display: block; */
   /* margin-right: 100px; */

}

.robo_name{
    font-weight: bold;
     color: aliceblue;
     
     gap: 10px;
     /* display: block; */
   
    
}

.robo_mail{
    gap: 2px;
    color: aliceblue;
}

